<?xml version="1.0"?>

<configuration>
    <configSections>
        <!-- 1. Tell the config system about hotmod -->
        <section name="hotmod" type="Hotmod.Configuration.HotmodSection, Hotmod"/>
    </configSections>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpModules>
            <!-- 2a. Hook hotmod into the IIS 6 (and webdev server) pipeline using this module -->
            <add name="hot" type="Hotmod.Module, Hotmod"/>
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <!-- 2b. Hook hotmod into the IIS 7 pipeline using this module -->
            <add name="hot" type="Hotmod.Module, Hotmod"/>
        </modules>
    </system.webServer>

    <!-- 3. Configure hotmod's properties and modifiers -->
    <hotmod prettyPrint="On" htmlParseError="AppendException">
        <modifiers>
            <add name="TimeStamper" type="Demo.TimeStamper, Demo" />
            <add name="Foo" type="Demo.FooModifier, Demo" />
        </modifiers>
    </hotmod>

</configuration>