<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="hot" type="Hotmod.Configuration.HotmodSection, Hotmod"/>
  </configSections>

  <hot prettyPrint="On" htmlParseError="AppendException">
    <modifiers>
      <add name="foo" type="Demo.FooModifier, Demo" />
      <add name="foo" type="Demo.TimeStamper, Demo" />
    </modifiers>
  </hot>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="hot" type="Hotmod.HtmlTransformer, Hotmod"/>
    </httpModules>
  </system.web>

</configuration>